.purchase-modal-component {
  .quantity {
    padding: 2em 1em;
    border-top: 1px solid var(--grey-soft);
    border-bottom: 1px solid var(--grey-soft);
    margin-bottom: 2em;

    label {
      font-weight: 500;
    }

    .progress {
      height: 2em;
      
      .progress-bar {
        &.previous {
          background-color: var(--progress-bar-fill);
        }
        &.current {
          background-color: var(--green);
        }
        &.remaining {
          background-color: var(--progress-bar-trail);
        }
      }
      
    }
  }
  .row {
    margin-top: 1em;
  }

  .confirm {
    display: flex;
    justify-content: center;
    margin-top: 2em;

    button {
      height: 3em;
      width: 15em;
      background-color: var(--green);
      font-weight: 500;
      font-size: 1.5em;
    }
  }
}
