.purchase-modal-component {
  .quantity {
    padding: 2em 1em;
    border-top: 1px solid var(--grey-soft);
    border-bottom: 1px solid var(--grey-soft);
    margin-bottom: 2em;

    label {
      font-weight: 500;
    }

    .progress {
      .progress-bar{
        &.previous {
          background-color: var(--progress-bar-fill);
        }
        &.current {
          background-color: var(--green);
        }
        &.remaining {
          background-color: var(--progress-bar-trail);
        }
      }
      
    }
  }
  .row {
    margin-top: 1em;
  }
}
