$purple: #6F00FF;
$white: #FFFFFF;
$pink: #FF1493;
$blue: #1493FF;
$green: #3A8617;
$facebook-blue: #4267B2;


:root {
  --purple: #{$purple};
  --purple-light: #{lighten($purple, 20%)};
  --purple-soft: #{lighten($purple, 40%)};
  --progress-bar-trail: #a6a8b6;
  --progress-bar-fill: #fff234;
  --chart-tooltip-color: rgba(20, 20, 20, 07);
  --white: #{$white};
  --green: #{$green};
  --facebook-blue: #{$facebook-blue};

  --blue: #{$blue};

  --pink: #{$pink};
}