$purple: #6F00FF;
$white: #FFFFFF;
$pink: #FF1493;
$blue: #1493FF;
$green: #3A8617;

$facebook-blue: #4267B2;


:root {
  --purple: #{$purple};
  --purple-light: #{lighten($purple, 20%)};
  --purple-soft: #{lighten($purple, 40%)};
  --progress-bar-trail: #a6a8b6;
  --progress-bar-fill: #fff234;
  --leader-board-head-color: #fff234;
  --chart-tooltip-color: #000;
  --chart-tooltip-background: #eee;
  --white: #{$white};
  --green: #{$green};
  --green-soft: #{lighten($green, 60%)};
  --row-even: #fff ;
  --row-odd: #fff566c4;
  --facebook-blue: #{$facebook-blue};

  --grey-soft: #cccccc;

  --blue: #{$blue};

  --pink: #{$pink};
}