@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
.header_style {
  margin: 1em;
}
.home-page {
  .tagline {
    color: white;

    justify-content: center;
    text-shadow: 0 0 0.2em #000;
    position: absolute;
    left: 0;
    width: 100%;
    top: -2em;
    font-size: 1.5em;
    filter: drop-shadow(2px 4px 10px black);
    @media (min-width: 701px) {
      display: flex;
    }
    @media (max-width: 700px) {
      display: none;
    }
  }

  .logo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0em;
    left: 0em;
    filter: drop-shadow(2px 4px 10px white);
  }
  .intro_section {
    background-image: url("/assets/jon-flobrant-oRUQsTX9Zv0-unsplash.jpg");
    width: 100vw;
    @media (min-width: 701px) {
      height: 120vh;
    }
    @media (max-width: 700px) {
      height: 100vh;
    }

    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    .counter_and_logo_outer_container {
      width: 100%;
      padding-top: 2em;

      position: relative;
      justify-content: center;
      display: flex;
      flex-flow: column-nowrap;
      @media (max-width: 700px) {
        height: 200vh;
        margin-top: 20;
      }
      @media (max-width: 701px) {
        margin-top: 10vh;
      }
      // background-color:rgba(255,255,255,0.2);

      .counter_and_logo_container {
        display: flex;
        flex-flow: column nowrap;
        margin: auto;
        @media (min-width: 900px) {
          height: 200vh;
          margin-top: 10vh;
        }
        margin: auto;
        @media (max-width: 901px) {
          height: 200vh;
          margin-top: 10vh;
        }

        position: absolute;
        width: 20%;
        .municipalities-progress {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          animation-name: fadeIn;
          opacity: 0;
          animation-iteration-count: 1;
          animation-duration: 1.5s;
          animation-delay: 2s;
          animation-timing-function: ease-in;
          animation-fill-mode: forwards;
        }
        .co2counter {
          margin: 0;
          margin-bottom: 2vw;
          text-align: center;
          width: 100%;
          font-family: "Nunito", sans-serif;

          text-shadow: 0 0 0.2em #000;
          color: white;

          font-weight: bold;
          animation-name: fadeIn;
          opacity: 0;
          animation-iteration-count: 1;
          animation-duration: 1.5s;
          animation-delay: 1s;
          animation-timing-function: ease-in;
          animation-fill-mode: forwards;
          p:first-child {
            font-size: 1.5em;
          }
          p {
            margin: 0;
            font-size: 1.25em;
          }
        }
      }

      .progressbar-container {
        width: 70%;
        height: 35%;
        max-width: 600px;
      }
    }
    button.offset-yourself {
      background-color: var(--green);
      font-weight: 500;
      width: 8em;
      align-self: center;
    }

    .municipalities-progress {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 3em;

      button.view-all-municipalities {
        margin-top: 0.5em;
        background-color: var(--green);
        width: 5em;
      }
    }
  }

  .doughnut_chart {
   
    @media (min-width: 790px) {
      min-height: 500px;
      width: 90vw;
    }
    @media (max-width: 790px) {
      width: 100vw;
    }
  }
  .chart_section {
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
    height: 70vh;
    min-height: 400px;

    @media (min-width: 791px) {
      width: 70vw;
      padding: 5vw;
    }
    @media (max-width: 790px) {
      width: 100%;
      padding: 5px;
      height: 30vh;
    }

    .chart_container {
      flex: 1;
      width: 100%;
      max-width: 800px;
      margin: auto;
      .header_style {
        text-align: center;
        margin-bottom: 1em;
      }
    }
  }
  .info_section {
    padding-top: 4em;
    margin: auto;
    width: 60vw;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    h2 {
      text-align: center;
    }
    p {
      line-height: 1.5;
    }
    img {
      width: 70px;
      margin: auto;
    }
  }
  .icons_whodunnit {
    display: none;
  }

  .participants {
    .title {
      font-size: 1.2em;
      font-weight: 500;
    }
    .newest {
      .purchase {
        display: flex;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
