.header-component {
  .navbar {
    padding: 0 !important;
    height: 0;
    z-index: 1;

    button {
      margin-top: 1em;
    }

    .navbar-brand {
      img {
        height: 5em;
      }
    }
    .nav-item {
      display: flex;

      .button-component {
        background-color: var(--green);
      }
    }
  }
}
