.header-component {
  .navbar {
    padding: 0 !important;
    height: 0;
    z-index: 1;

    .logo{
      position:absolute;
      width:100px;
      height: 100px;
      top: 0em;
      left: 0em;
    }
    button {
      margin-top: 1em;
    }

   
    .nav-item {
      display: flex;

      .button-component {
        background-color: var(--green);
      }
    }
  }
}
