.header-component {
  position:fixed;
  z-index: 2;

  .navbar {
    padding: 0 !important;
    height: 0;
    z-index: 1;

    width: 96vw;
    button {
      margin-top: 1em;
     
    }

   
    .nav-item {
      display: flex;
     
      .button-component {
        background-color: var(--green);
        white-space: pre;
        text-align: left;
        width: 12em;

        svg {
          margin-right: 1em !important;
        }
      }
    }
  }
}
