.municipality-progress-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.3em;

  .name {
    color: white;
    text-shadow: 0 0 0.2em black;
    margin-bottom: -0.8em;
    font-weight: 500;
  }

  .progress {
    margin-top: 1em;
    width: 20em;
    text-shadow: 0 0 4px black;
    .offset {
      background-color: var(--progress-bar-fill);
    }
    .remaining {
      background-color: var(--progress-bar-trail);
    }
  }
}